#images {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: rgb(60, 60, 59);
}

.table-image {
    height: 150px;
    width: 150px;
}

.table-image:hover {
    opacity: 70%;
}

.modal-container {
    display: flex;
    position: fixed;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background-color: rgb(60, 60, 59);
    border: 2px white ridge;
}

.object-link {
    color: white;
    text-decoration: none;
    margin: 8px;
    border: 1px white solid;
    padding: 10px;
    border-radius: 20px;
}

@media screen and (min-width: 601px){
    .modal-image {
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .modal-container {
        width: 80%;
    }
    .modal-image {
        width:100%;
    }
}
