#images {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: rgb(60, 60, 59);
}

.table-image {
    height: 150px;
    width: 150px;
}

.table-image:hover {
    opacity: 70%;
}

.modal-container {
    display: flex;
    position: fixed;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background-color:gray;
    width:60%;
}

.modal-image {
    width: 60%;
    height: 60%;
}

@media screen and (min-width: 601px){
    #modal {
        max-width: 70vh;
        max-height: 70vh;
    }
}

@media screen and (max-width: 600px){
    #modal {
        max-width: 85%;
        max-height: 85%;
    }
}
