#images {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: rgb(60, 60, 59);
}

.table-image {
    height: 150px;
    width: 150px;
}

.table-image:hover {
    opacity: 70%;
}

.model-container {
    display: flex;
    position: fixed;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background-color: rgb(60, 60, 59);
    border: 2px rgb(90, 90, 90) solid;
    box-shadow: 2px 2px 2px rgb(57, 57, 57);
    border-radius: 8px;
}

.model-path{
    text-decoration: none;
    color: rgb(219, 219, 219);
    margin: 8px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(86, 86, 86)
}

.model-link:hover {
    background-color: rgb(111, 111, 111)}

@media screen and (min-width: 601px){
    .model-image {
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .model-container {
        width: 80%;
    }
    .model-image {
        width:100%;
    }
}
