#contact {
    background-color: #454d5c;
    border: 1px white solid;
    position: fixed;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    border: white 2px solid;
}

#contact-top {
    display: flex;
    justify-content:space-between;
}

#suggestion-title {
    font-size: 23px;
}

#contact-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.input-val {
    margin: 5px;
    padding: 5px;
    max-width: 100%;
}

#input-submit {
    max-width: 100%;
}
