#footer {
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3b414c;
    width: 100%;
}

#suggestion-container {
    display: flex;
    justify-content: center;
    background-color: #4a515d;
    width: 100%;
    align-items: center;
}

#info-container {
    display: flex;
}

.suggestion-title {
 font-size: 10px;
}

.footerTextContainer {
    display: flex;
    align-items: center;
}

.footer-text {
    font-size: 11px;
}

#website-container {
    display: flex;
}

.website-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px white solid;
    margin: 3px;
}
