#footer {
    display: flex;
    min-height: 100vh;
    min-height: 100%;
    align-items: center;
    justify-content:space-evenly;
    background-color: #3b414c;
    padding: 4px;
    width: 100%;
}

.footerTextContainer {
    display: flex;
    align-items: center;
}

.footer-text {
    font-size: 11px;
}

#website-container {
    display: flex;
}

.website-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px white solid;
    margin: 3px;
}
