#redirect {
    border-left: 8px rgb(21, 110, 188) solid;
    padding: 5px;
    background: url('https://iili.io/Hcqt6Gf.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
}

#store-nav {
    display: flex;
    align-items: center;
}

#top-container {
    display: flex;
}

#banner-logo {
    max-height: 105px;
    border-radius: 70px;
    border: white solid 3px;
    background-color:#282c34;
}

#top-banner {
    -webkit-text-stroke: 1px black;
    margin-left: 5%;
}

#mid-banner {
    -webkit-text-stroke: 1px black;
}

#links-container {
    display: flex;
    justify-content: flex-start;
}

@media screen and (min-width: 601px){
    #top-banner {
        font-size: 30px;
    }
    
    #mid-banner {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px){
    #banner-logo {
        max-height: 75px;
    }
    #top-banner {
        font-size: 22px;
    }
    
    #mid-banner {
        font-size: 20px;
    }
}