#title {
    display: flex;
    align-items: center;
    color: orange;
    justify-content: space-around;
}

#logo {
    border: 7px orange solid;
    border-radius: 100px;
    padding: 1px;
    background-color:#596171;
}

@media screen and (min-width: 601px){
    #title {
        font-size: 25px;
        padding: 10px;
    }
    #logo {
        margin: 10px;
        max-width: 120px;
    }
}

@media screen and (max-width: 600px){
    #title {
        font-size: 15px;
        padding: 5px;
    }
    #logo {
        max-width: 80px;
        margin: 5px;
    }
}